container_commands:
  10updateComposer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update 1.3.2  
  20updateDB:
    command: php bin/console d:s:u -f
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root
  - namespace: aws:elasticbeanstalk:container:php:phpini
    option_name: document_root
    value: /web
