{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <style>
        #map-container {
            display: block;
            position: relative;
            width: 100%;
            height: 680px;
            margin-top: 20px;
            overflow: hidden;
        }

        #map-container .map-overlay {
            position:absolute;
            z-index:999;
            top:0;
            left:0;
            background-color:rgba(0,0,0,.60);
            height:100%;
            width:20%;
            color:#FFF;
            padding:25% 20px;
            vertical-align:middle;
            display:none;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Observations d'oiseaux</h1>

    <div class="ui-widget">
        <label for="birds">Oiseau : </label>
        <input id="birds">
    </div>
    <div id="map-container">
        <div class="map-overlay"></div>
        <div id="map"></div>
    </div>

    <noscript>
        <p>Attention : </p>
        <p>Afin de pouvoir utiliser Google Maps, JavaScript doit être activé.</p>
        <p>Or, il semble que JavaScript est désactivé ou qu'il n'est pas supporté par votre navigateur.</p>
        <p>Pour afficher Google Maps, activez JavaScript en modifiant les options de votre navigateur, puis essayez à nouveau.</p>
    </noscript>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ4SPQ2WYKa4UfnSDzq2XUHkO04KYQQOc&libraries=geometry"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/infobox/src/infobox.js"></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>
<script src="{{ asset('js/vendor/gmaps/gmaps.min.js') }}"></script>

<!-- Google Maps -->
<script>
    $(document).ready(function(){
        var mapOverlay = $('.map-overlay');
        var map;
        var markers = [];


        mapOverlay.click(function() {
                mapOverlay.hide(500);
            }
        );

        $( "#birds" ).autocomplete({
            source: function (request, response) {
                $.post("{{ path('bird.search') }}", request, response);
            },
            minLength: 2,
            select: function( event, ui ) {
                updateMap(ui.item.id, 0);
            }
        });


        map = new GMaps({
            div: '#map',
            lat: 46.7596,
            lng: 2.4521,
            zoom: 6,
            fullscreenControl : false,
            streetViewControl : false,
            mapTypeControl: false,
            zoomControl: false,
            zoom_changed: function(e) {
                var zoom = map.getZoom();
                for(i = 0; i < map.markers.length; i++){
                    if(zoom > 10){
                        map.markers[i].setVisible(false);
                    }else{
                        map.markers[i].setVisible(true);
                    }
                }
            },
        });

        // Update map with all observations
        updateMap('', 0);

        function updateMap(bird, department){
            var data = {bird: bird, department: department};
            $.post( "{{ url('nao_observation_json_bird') }}", data , function( response ) {
                map.removePolygons();
                map.removeMarkers();
                $.each(response, function(index, item) {
                    var location = new google.maps.LatLng(item.latitude, item.longitude);
                    placeMarker(location, item);
                    drawCircle(location);

                });
                mapOverlay.html(response.info);
                mapOverlay.show();
            });
        }

        /**
         * Add marker
         * @param location
         */
        function placeMarker(location, item){
            map.addMarker({
                position: location,
                title: item.birdName,
                infoWindow: {
                    content: '<p>' + item.birdName + '</p><p>par ' + item.userName + ' le ' + item.dateObservation + '<p>'
                }
            });
        }


        /**
         * Draw disc with location as center
         * @param location
         */
        function drawCircle(location) {
            var rayon    = 1500; // 1.5 km

            map.drawCircle({
                center: location,
                radius: rayon,
                strokeColor: '#f66604',
                strokeOpacity: 0.9,
                strokeWeight: 1,
                fillColor: '#eeae70',
                fillOpacity: 0.5,
            });
        }

    });
</script>
{% endblock %}