{% extends "base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2><i class="sl sl-icon-login"></i> Mot de passe oublié ?</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('nao_accueil') }}">Accueil</a></li>
                            <li><a href="#">Réinitialiser le mot de passe</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="row">

            {% include "@FOSUser/Resetting/reset_content.html.twig" %}

        </div>
    </div>
    </div>

    <!-- Content / End -->
    <!-- Container / End -->
{% endblock content %}