{% extends 'base.html.twig' %}

{% block content %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2>À propos</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="#">Accueil</a></li>
                            <li>À propos</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Blockquote
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-0 margin-bottom-35">Qui sommes-nous ?</h4>
                <blockquote>Nos amis les oiseaux est une association loi 1901 regroupant de nombreux passionnés d’ornithologie.
                    Elle a été créée en 2001 par Michel Dujardin et Marie DUPONT tous deux naturalistes passionnés.</blockquote>
            </div>
        </div>


        <!-- Inline Elements
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-45 margin-bottom-25">Un projet collaboratif engagé</h4>

                <p><mark class="color">Le projet de NAO a pour objectif de collecter des informations afin d’étudier les effets de l’urbanisation sur les oiseaux.</mark> L'érosion de la biodiversité est un problème différent de celui du climat mais néanmoins lié. Elle est si inquiétante qu'il nous faut agir, et tout de suite.</p>

                <p>Vous n’êtes pas seul ! Vous vous dites peut-être que vous n’y connaissez rien pour identifier les oiseaux ou encore vous n’avez pas l’équipement adéquat. Ne vous en faites pas, nos membres naturalistes sont là pour vous aiguiller et pour vérifier les observations que vous rentrez sur le site.

                    Ne vous mettez pas de barrières, l’observation d’oiseaux et l’inscription sur le site sont ouvertes à tous !</p>

            </div>
        </div>


        <!-- Blockquote
        ================================================== -->
        <div class="row">
            <div class="col-md-12 margin-bottom-50">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-0 margin-bottom-35">Soutenir l'association ?</h4>
                <p>Vous pouvez toujours aider l'association avec un petit don, c'est aussi être du combat écologique que nous menons.</p>
                <a href="https://www.helloasso.com" target="_blank" class="color">Faire un don à NAO</a>
            </div>
        </div>

    </div>
{% endblock %}