{% extends 'base.html.twig' %}

{% block description %}Notre association unie les amateurs et professionnel de l’ornithologie.{% endblock %}

{% block content %}
    <!-- Titlebar
    ================================================== -->
    <div id="titlebar-ap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2 style="color: white;">À propos</h2>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs">
                        <ul>
                            <li><a href="{{ path('nao_accueil') }}" style="color: white;">Accueil</a></li>
                            <li style="color: white;">À propos</li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Blockquote
        ================================================== -->
        <div class="row">
            <div class="col-md-12">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-0 margin-bottom-35">Qui sommes-nous ?</h4>
                <blockquote>Notre association loi 1901, fondée par Michel Dujardin, vient de fêter ses 15 ans. Notre mission est de participer à la protection des espèces d’oiseaux et à la préservation de leur habitat. Faciliter l’échange et le partage d’informations a toujours été notre priorité pour permettre à tous les passionnés d’ornithologie d’en profiter. </blockquote>
            </div>
        </div>


        <!-- Inline Elements
        ================================================== -->
        <div class="row">
            <div class="col-md-12 margin-bottom-15">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-45 margin-bottom-25">Un projet collaboratif engagé</h4>

                <p>Fière de nos 800 adhérents, Nos Amis les Oiseaux propose aujourd’hui un nouveau service plus moderne pour faciliter l’envoi et le partage d’observations ainsi qu’un programme de recherche participatif visant à étudier les effets du climat, de l'urbanisation et l'agriculture sur la biodiversité. Ce projet scientifique s'appuiera sur le recensement des différentes espèces que vous pourrez observer autour de vous.</p>

                <p>Ainsi où que vous soyez, naturaliste ou particulier, vous pourrez nous envoyer vos observations et vos photos depuis votre smartphone ou votre ordinateur pour enrichir notre programme d’études et être un véritable acteur de la préservation de l’environnement.<br> N’hésitez pas à vous inscrire !

                    Nos Amis les Oiseaux, c’est aussi une communauté qui comprend des ornithologues, des défenseurs de la nature, des promeneurs, des amoureux des animaux, et bien d’autres profils encore.</p>

                <h4 class="headline with-border margin-top-45 margin-bottom-25">À propos de Michel Dujardin</h4>

                <blockquote>Je suis un ornithologue et un écologue depuis la naissance. J’ai toujours eu une passion pour les oiseaux et j’ai décidé très jeune non pas de leur mettre du sel sur la queue, mais de les poursuivre, sans les attraper, à travers le monde entier. Ces voyages m’ont aussi permis de prendre conscience de la fragilité de notre planète et c’est pourquoi j’ai fondé l’association. Je remercie chaque jour les adhérents qui oeuvrent à la sauvegarde de notre belle planète !</blockquote>

            </div>
        </div>


        <!-- Blockquote
        ================================================== -->
        <div class="row">
            <div class="col-md-12 margin-bottom-50">
                <!-- Headline -->
                <h4 class="headline with-border margin-top-0 margin-bottom-35">Vous souhaitez adhérer ?</h4>
                <p>C’est par <a href="{{ path('nao_contact') }}">ici</a>, et pour faire un don c'est par <a href="https://helloasso.com">là</a>...</p>
            </div>
        </div>

    </div>
{% endblock %}